body {
    background: url("Pic/sincerely-media-o7Wh-DFyfa0-unsplash.jpg");
    background-size: cover;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0px 10px;
    background-color: transparent;
    text-align: center;
}

.list-group-item {
    background: transparent;
    border: none;
    text-align: center;
}

ul {
    height: 100%;
    width: 100%;
    text-align: center;
}

li {
    height: 100%;
    width: 100%;
    color: rgb(254,95,45);
    font-family: 'Handlee', cursive;
    font-size: 20px;
    text-align: center;
    margin: 10px 10px;
}

a {
    color: green;
    font-weight: bold;
}

td {
    text-align: center;
}

.btn1 {
    height: 30px !important;
    width: 25px !important;
    padding: 0px 0px 0px 0px !important;
    float: right !important;
    text-align: center !important;
    background-color: rgb(56,128,31);
}

.btn2 {
    height: 30px !important;
    width: 25px !important;
    padding: 0px 0px 0px 0px !important;
    float: left !important;
    text-align: center !important;
    background-color: rgb(56,128,31);
}

i {
    margin: 0px 0px 0px 0px !important;
    padding: 0 !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
}